[run]
omit =
  */admin/*
  */migrations/*
  */urls/
  */tests/*
  *apps.py
  *settings*
  *urls.py
  *wsgi.py
  manage.py
  *wsgi.py
  *asgi.py
  conftest.py
  *__init__.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
